*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
  background-color: #180525;
  color: white;
  padding: 1.5rem;

}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  
  .profile{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-image: url(https://tse1.mm.bing.net/th/id/OIP.p1WPBfGTA2ed1pkBo4_C_AHaHa?pid=Api&P=0&h=180);
    background-position: center;
    background-size: cover;
  }
}
main{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-top: 2rem;
     .heading{
        text-transform:uppercase;
        opacity: 0.9;
        font-weight: 100;
        padding: 0.3rem;
     }
     .container{
        overflow: scroll;
        flex-wrap: nowrap;
        display: flex;
        gap:1.5rem;
        scrollbar-width: none;
        .cards{
            width:10rem;
            display: flex;
            flex-direction: column;
            gap:0.6rem;
            justify-content: center;
            text-align:justify;
             h2{
                padding-left: 0.5rem;
             }
            p{
                opacity: 0.6;
                line-height: 1.5rem;
                padding-left: 0.5rem;
            }
            img{
                height:10rem;
                 width:10rem;
                 border-radius: 0.7rem;
            }
        }
     }
     .songc{
        h4{
            opacity: 0.5;
            padding-top: 1.5rem;
            padding-bottom: 0.7rem;
            text-transform: uppercase;

        }
        .songs{
            width:100%;
            height:5rem;
            border-bottom:0.1rem solid rgba(255, 255, 255, 0.089);
            display: flex;
            color: rgba(255, 255, 255, 0.733);
            align-items: center;
            gap:1.5rem;
            div{
                display: flex;
                flex-direction: column;
                gap:0.5rem;
                overflow: hidden;
                p{
                    font-size: 0.9rem;
                    opacity: 0.8;
                }
            }
            h1{
                font-size: 1.4rem;
                font-weight: 100;
            }
            img{
                height: 3rem;
                object-fit: cover;
            }
        }
     }
     
}